@charset "UTF-8";

.bg-custome
{
	background-color: #113f67;
}
.navbar .nav-item:hover .nav-link {
	background-color: #fff;
	color: #113f67;
	transition:0.7s;
}
.navbar ul li a
{
	margin-left: 20px;
	color:#fff;
}
.carousel-item
{
	width: 100%;
	height: 80vh;
	
}
